@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

nav {
    width: 300px;
    background-color: #121212;
    padding: 24px 10px 90px;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 0 0;
}

.Logo i {
    font-size: 22px;
    cursor: pointer;
}

.Nav-Biblioteca {
    margin-top: 15px;
    font-size: 14px;
    color: #b7b3b6;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.Nav-Playlist {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.Nav-Playlist::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.28'%3E%3Cpolygon fill='%23003600' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23005b00' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23008314' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2300ad3e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2325D865' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    z-index: -1;
    transform: scale(1.1);
    filter: blur(1px);
    transition: transform 0.3s ease, filter 0.3s ease;

}

.Nav-Playlist:hover::before{
    filter: blur(0);
    transform: scale(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.Nav-Podcast {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.Nav-Podcast::before{
    position: absolute;
    content: "";
    left: 0;
    right: -80px;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
    background-image: url("Img/Microphone-Podcast.svg");
    z-index: -1;
    opacity: 0;
    transform: scale(1.1);
    filter: blur(5px);
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    background-color: #000000;
}

.Nav-Podcast:hover::before{
    opacity: 0.3;
    filter: blur(0);
    transform: scale(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}


.Nav-Playlist,
.Nav-Podcast {
    margin-top: 22.25px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    box-shadow: 0 1px 2px oklch(0% 0 0 / 0.05);
    box-shadow: 0 8px 16px oklch(0% 0 0 / 0.08);
    box-shadow: 0 16px 32px oklch(0% 0 0 / 0.04);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Nav-Playlist:hover,
.Nav-Podcast:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 40px oklch(0% 0 0 / 0.12);
}

.Nav-Playlist button,
.Nav-Podcast button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    background-color: #25d865;
    font-size: 15px;
    cursor: pointer;
}

.Nav-Playlist p,
.Nav-Podcast p {
    font-size: 12px;
}

.Nav-Footer {
    margin-top: auto;
}

.Nav-Footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
    position: relative;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.Nav-Footer a:hover {
    color: white;
    transform: scale(1.1);
}

.Nav-Lang-Button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease-in;
}

.Nav-Lang-Button:hover {
    background-color: black;
}

main {
    padding: 24px;
    overflow-y: auto;
    flex-grow: 1;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Search-Bar {
    gap: 9.5px;
    align-items: center;
    display: flex;
    background-color: #242424;
    padding: 8px 16px;
    width: 300px;
    border-radius: 20px;
}

.Search-Bar input {
    border: none;
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
}

.Options {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 900px;
    gap: 20px;
}

.Options i {
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s ease-out;
    color: #2d2d2d;
}

.Options i:hover {
    color: #3d3d3d;
}

.Options p {
    font-size: 35px;
    color: orangered;
    background-color: #121212;
    border-radius: 15px;
    text-align: center;
    width: 75px;
    cursor: pointer;
    transition: box-shadow 1s ease-in-out;
}

.Options p:hover {
    box-shadow: 0 0 12px -2px #25d865;
}

.See-Plans {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 5px 8px;
    font-size: 15px;
    font-weight: 500;
    transition:
        box-shadow 1s ease-in-out,
        transform 0.3s ease-in-out;
}

.See-Plans:hover {
    box-shadow: 1px 1px 7px 1px white;
    transform: scale(1.10);
}

.Download-APP {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: #181818;
    padding: 5px 8px;
    font-size: 13px;
    color: white;
    transition: transform 0.1s ease-in-out;
    gap: 10px;
}

.Download-APP:hover {
    transform: scale(1.05);
}

.Download-APP i {
    font-size: 15px;
}

.Artistas-Grid,
.Albuns-Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 24px;
    margin-bottom: 10px;
}

.Albuns-Grid {
    margin-bottom: 40px;
}

.Artista-Card,
.Albuns-Card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.Artista-Card:hover,
.Albuns-Card:hover {
    background-color: #282828;
}

.Artista-Card img,
.Albuns-Card img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    margin-bottom: 20px;
}

.Artista-Card img {
    border-radius: 50%;
}

.Albuns-Card img {
    border-radius: 4px;
}

.Artista-Card h3,
.Albuns-Card h3 {
    font-size: 12px;
}

.Artista-Card p,
.Albuns-Card p {
    font-size: 12px;
    color: #b7b3b6;
}

.Banner {
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px 14px;
}

.Banner h2 {
    font-size: 16px;
}

.Banner p {
    font-size: 14px;
}

.SignUp-Animation {
    border: none;
    border-radius: 20px;
    color: #000;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    transform: translateX(0) scale(1);
    transition: transform 2s ease-in-out;
    animation: AnimationSignUP-Return 2s forwards ease-in-out;
    backface-visibility: hidden;
}

.SignUp{
    display: flex;
    justify-content: flex-end;
    width: 900px;
    background-color: red;
}

.SignUp-going{
    animation: AnimationSignUP 2s forwards ease-in-out;
}

.SignUp-back{
    animation: AnimationSignUP-Return 2s forwards ease-in-out;
}

@keyframes AnimationSignUP{
    0%{
        transform: translateX(0) scale(1);
    }
    70%{
        transform: translateX(-150px) scale(1);
    }
    100%{
        transform: translateX(-150px) scale(1.2);
    }
}

@keyframes AnimationSignUP-Return {
    0% {
        transform: translateX(-150px) scale(1.2);
    }
    30% {
        transform: translateX(-150px) scale(1);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}