*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
}

.container{
    display: flex;
    height: 100vh;
}

nav{
    width: 300px;
    background-color: #121212;
    padding: 24px 24px 90px;
    display: flex;
    flex-direction: column;
}

.Logo i{
    font-size: 24px;
}

.Nav-Biblioteca {
    font-size: 14px;
    color: #b7b3b6;
    display: flex;
    align-items: center;
    gap: 10px;
}